# Task1:Simple interest & compond interest

In [1]:
print("Simple interest:")
p=100000 #indian rupees
t=2#time in years
r=12#rate of interest
SI=(p*t*r)/100
print("SI=",SI)
print("Total amount",SI+p)

Simple interest:
SI= 24000.0
Total amount 124000.0

In [2]:
print("Compond Inerest:")
p=100000
t=2
r=12
n=1
a=p*(1+r/n)**(r*n)
a1=p*(pow((1+r/100),t))
print("Compond interst",int(a1))

Compond Inerest:
Compond interst 125440

# Task2:print,type,comments,variable

In [3]:
print("Hello worls")
print("Hello Goodmorning")
#variable
a,b,c,d=10,20,30,40
e=f=g=h=50
print(a,b,c,d)
print(e,f,g,h)

Hello worls
Hello Goodmorning
10 20 30 40
50 50 50 50

In [4]:
a=10
b=10.5
c=10+5j
d=True
e="10"
print(type(a),type(b),type(c),type(c),type(d))

<class 'int'> <class 'float'> <class 'complex'> <class 'complex'> <class 'bool'>

In [5]:
#comments   1. single line comments      2.multiline comments
a='ramu'
b="ramudu"
print(a,b)
'''ramudu
manchi
baludu'''

ramu ramudu

'ramudu\nmanchi\nbaludu'

# Task3:Type Conversions

In [6]:
a=10
print(a)
print(type(a))
b=float(a)
print(b)
print(type(b))
c=complex(b)
print(c)
print(type(c))
d=bool(c)
print(d)
print(type(d))
e=str(d)
print(d)
print(type(e))

10
<class 'int'>
10.0
<class 'float'>
(10+0j)
<class 'complex'>
True
<class 'bool'>
True
<class 'str'>

# Task4: Practice on Operators:

In [7]:
# a)arithmatic operators:
a=10
b=20
print("addition: ",a+b)
print("Subtraction:",a-b)
print("multiplication:",a*b)
print("division: ",a/b)
print("floor division: ",a//b)
print("Exponent operator/Power operator:",a**b)

addition:  30
Subtraction: -10
multiplication: 200
division:  0.5
floor division:  0
Exponent operator/Power operator: 100000000000000000000

In [8]:
#b) Relational operators(>,<,>=,<=):
print("a<b",a<b)
print("a<b",a>b)
print("a<=b",a<=b)
print("a>=b",a>=b)

a<b True
a<b False
a<=b True
a>=b False

In [9]:
#c) Equality operator(==,!=):
print("a==b",a==b)
print("a!=b",a!=b)

a==b False
a!=b True

In [10]:
#d) Logical operator(and,or, not):
print("a and b-->",  a and b)
print("a or b-->",a or b)
print("not b-->",not b)
print('\n',"True and False-->",True and False)
print("True or False-->",True or False)
print("not True-->",not True)
print("\n\n'mohan' and 'das'-->",'mohan' and 'das')

print("'das' and 'mohan'-->",'das' and 'mohan')
print("'mohan' and ''-->",'mohan' and '')
print("'' and 'das'-->",'' and 'mohan')

print("\n'mohan' or 'das'-->",'mohan' or 'das')

print("'das' or 'mohan'-->",'das' or 'mohan')
print("'' or 'mohan'-->",'mohan' or '')
print("'mohan' or ''-->",'' or 'mohan')

print("not 'mohan' -->",not 'mohan')

a and b--> 20
a or b--> 10
not b--> False

 True and False--> False
True or False--> True
not True--> False


'mohan' and 'das'--> das
'das' and 'mohan'--> mohan
'mohan' and ''-->
'' and 'das'-->

'mohan' or 'das'--> mohan
'das' or 'mohan'--> das
'' or 'mohan'--> mohan
'mohan' or ''--> mohan
not 'mohan' --> False

In [11]:
# e) bitwise operators(&,|,^,~,<<,<<):
print("4 & 5 -->",4&5)
print("4 | 5 -->",4|5)
print("4 ^ 5-->",4 ^ 5)
print("~5",~5)
print("10<<2-->", 10<<2)
print("10>>2-->",10>>2)

4 & 5 --> 4
4 | 5 --> 5
4 ^ 5--> 1
~5 -6
10<<2--> 40
10>>2--> 2

In [12]:
# f)Ternary operator or Conditiona; operator:
a=10
b=20
c=30 if a<b else 40
print(c)

30

In [13]:
a=int(input("Enter a value:"))
b=int(input("Enter b value:"))
big= a if a>b else b
small= a if a<b else b
print("small number in a and b:",small)
print("Big number in a and b:",big)

Enter a value:10
Enter b value:20
small number in a and b: 10
Big number in a and b: 20

In [14]:
a=int(input("Enter a value:"))
b=int(input("Enter b value:"))
c=int(input("Enter c value:"))
big=a if a>b and a>c else b if b>c else c
small= a if a<b and a<c else b if b<c else c
print("big number is :",big)
print("small number is:",small)

Enter a value:30
Enter b value:10
Enter c value:20
big number is : 30
small number is: 10

In [15]:
a=int(input("Enter a value:"))
b=int(input("Enter b value:"))
print("a and b is Equal" if a==b else "a bigger then b " if a>b else "a smaller then b")

Enter a value:10
Enter b value:10
a and b is Equal

In [16]:
# g) special operators--->1. Identity operators(is, is not)
#address comparision "is"
#conent comparision "=="
a=10
b=10
print(a is b)

True

In [17]:
a=[10,20,30]
b=[10,20,30]
print(a is b)#address comparision "is"
print(a==b)#conent comparision "=="
print(id(a))
print(id(b))

False
True
1767015650496
1767016429312

In [18]:
a="mohan"
b="mohan"
print(a is b)
print(b is a)
print(id(a))
print(id(b))

True
True
1767016456560
1767016456560

In [19]:
# g) special operators--->2.Membership Operators(in, not in)
x="pythonlife is good plotform to learn python"
print('python' in x)
print('python' not in x)

True
False

In [20]:
l=[10,20,30]
print(10 in l)

True

# Task5: Build Calculator using if, elif

In [21]:
a=int(input("Enter a value:"))
b=int(input("Enter b value:"))
operator=input("Enter your operator:+,-,*,/:")
if operator=="+":
    print("Addition of a and b:",a+b)
elif operator=="-":
    print("subtraction of a nad b:",a-b)
elif operator=="*":
    print("Multiplication of a and b:",a*b)
elif operator=="/":
    print("Division of  a and b:",a/b)
else:
    print("please enter valid operator symbol:")

Enter a value:10
Enter b value:15
Enter your operator:+,-,*,/:/
Division of  a and b: 0.6666666666666666

# Task5: for, while , continue, break ,pass

for loop: it is a iteration process so we can set how many times iterate the loop, for this loop we have to create one temparary variable for iteration of every element of the sequence.

In [22]:
for i in range(5):
    print(i)

0
1
2
3
4

In [23]:
l=[10,20,30,40,50,]
for i in l:
    print(i)

10
20
30
40
50

In [24]:
s="mohan"
for i in range(len(s)):
    print(s[i])

m
o
h
a
n

while loop: untill and unlees loop will keep on executing up to coondtion is True, Once condition is False then it come out from the loop

In [25]:
n=int(input("enter any number:"))
i=0
sum=0
while i<=n:
    sum=sum+i
    i+=1
print("sum=",sum)

enter any number:100
sum= 5050

In [26]:
#infinity loop
name=""
while name!="mohan":
    name=input("Enter name:")
    print("thanks")

Enter name:kesav
thanks
Enter name:raju
thanks
Enter name:ashok
thanks
Enter name:mohan
thanks

In [27]:
#nested for loop
for i in range(4):
    for j in range(4):
        print(i,j)

0 0
0 1
0 2
0 3
1 0
1 1
1 2
1 3
2 0
2 1
2 2
2 3
3 0
3 1
3 2
3 3

In [28]:
#break

kart=[100,500,400,120,300,750]
for i in kart:
    if i>=500:
        print("This order not processing")
        break
    print(i)

100
This order not processing

In [29]:
#continue

kart=[100,500,400,120,300,750]
for item in kart:
    if item>=500:
        print("This item not able to process",item)
        continue
    print(item)

100
This item not able to process 500
400
120
300
This item not able to process 750

In [30]:
#  .format

l=[10,0,20,30,0,50]
for i in l:
    if i==0:
        print("hey how can you divide with zero?",i)
    else:
        print("100/{}={}".format(i,100/i))

100/10=10.0
hey how can you divide with zero? 0
100/20=5.0
100/30=3.3333333333333335
hey how can you divide with zero? 0
100/50=2.0

In [31]:
#pass

for i in range(100):
    if i%9==0:
        print(i)
    else:
        pass

0
9
18
27
36
45
54
63
72
81
90
99

# Task7:Pattern using for loop

In [32]:
n=5
for i in range(n+1):
    print("*"*i)

*
**
***
****
*****

In [33]:
n=5
for i in range(n+1):
    print((n-i)*" ","*"*(2*i-1))

     *
    ***
   *****
  *******
 *********

In [34]:
n=5
for i in range(n+1):
    print((n-i)*" ","*"*i)

     *
    **
   ***
  ****
 *****

In [35]:
n=5
for i in range(n+1):
    print((n-i)*"*")

*****
****
***
**
*

In [36]:
n=5
for i in range(n+1):
    print((n-i)*" ","* "*i)

     *
    * *
   * * *
  * * * *
 * * * * *

In [37]:
n=5
for i in range(n+1):
    print(i*" ","*"*(n-i))

 *****
  ****
   ***
    **
     *

# Tasks8&9: List Documentation

list: them  collection of elements mutable, ordered, duplicates accepted, homogenious values accepted,indexing and slicing

In [38]:
# creating list
l=list()#or
l1=[]
print(type(l))
print(type(l1))

<class 'list'>
<class 'list'>

In [39]:
l=[10,20,30,40]
l.append(10)
print(l)

[10, 20, 30, 40, 10]

In [40]:
l.extend([70,80,90,])
print(l)

[10, 20, 30, 40, 10, 70, 80, 90]

In [41]:
l.insert(2,50)
print(l)

[10, 20, 50, 30, 40, 10, 70, 80, 90]

In [42]:
l.pop()
print(l)

[10, 20, 50, 30, 40, 10, 70, 80]

In [43]:
l.pop(3)
print(l)

[10, 20, 50, 40, 10, 70, 80]

In [44]:
l.remove(20)
print(l)

[10, 50, 40, 10, 70, 80]

In [45]:
del l[1]
print(l)

[10, 40, 10, 70, 80]

In [46]:
l.clear()
print(l)

[]

In [47]:
l=[10,20,30,40]
l.reverse()
print(l)

[40, 30, 20, 10]

In [48]:
l.sort()
print(l)

[10, 20, 30, 40]

In [49]:
l1=l+l
print(l1)
l2=l*3
print(l2)

[10, 20, 30, 40, 10, 20, 30, 40]
[10, 20, 30, 40, 10, 20, 30, 40, 10, 20, 30, 40]

In [50]:
l3=[l,l1,l2]
print(l3)

[[10, 20, 30, 40], [10, 20, 30, 40, 10, 20, 30, 40], [10, 20, 30, 40, 10, 20, 30, 40, 10, 20, 30, 40]]

In [51]:
s="mohandas"
v=['a','e','i','o','u']
l=[]
for i in s:
    if i in v:
        if i not in l:
            l.append(i)
print(l)
print("no.of vowels present in ",s,len(l))

['o', 'a']
no.of vowels present in  mohandas 2

In [52]:
#List Comprehension
l=[x*x for x in range(5)]
m=[x+x for x in range(5)]
n=[x*3 for x in range(5)]
print(l,m,n)

[0, 1, 4, 9, 16] [0, 2, 4, 6, 8] [0, 3, 6, 9, 12]

# Task10: String Documentation

String: any sequence of charecters with in single or double quotes is considered as String.

In [53]:
s="mohan"
print(type(s))

<class 'str'>

In [54]:
#accessing charecters by using indexing
for i in range(len(s)):
    print(s[i],"positive indexing is",i,"negative indexing",(i-len(s)))

m positive indexing is 0 negative indexing -5
o positive indexing is 1 negative indexing -4
h positive indexing is 2 negative indexing -3
a positive indexing is 3 negative indexing -2
n positive indexing is 4 negative indexing -1

In [55]:
#slicing:s[start:stop:step]
s="mohandaskaramchandgandhi"
s[0:8]

'mohandas'

In [56]:
s[18::]

'gandhi'

In [57]:
s[-6:]

'gandhi'

In [58]:
s="mohan"
s1="das"

print(s+s1)
print(s*2)

mohandas
mohanmohan

In [59]:
s="Learning python in codinggrad"
i=0
rev=""
n=len(s)
#print("backword direction direction")
while i<n:
    rev=s[i]+rev
    i+=1
#print(rev)
i=1
rev2=""
print("foreword direction with negative indexing")
while -i>-n:
    rev2=s[-i]+rev2
    i+=1
print(s[0]+rev2)

foreword direction with negative indexing
Learning python in codinggrad

In [60]:
#membershio operator with string
print("python" in s)

True

In [61]:
print("java" not in s)

True

In [62]:
#Comparision of strings
s1=input("Enter first String :")
s2=input("Enter second string :")
if s1==s2:
    print(" both are same")
elif s1<s2:
    print("s1 is smaller then s2")
elif s1>s2:
    print("s1 is greaterthen s2")
else:
    print("endukila..........")

Enter first String :mohan
Enter second string :kesav
s1 is greaterthen s2

In [63]:
#wap removing spaces from strings
city=input("enter your city").strip()
print(city)

enter your city    hyderabad
hyderabad

In [64]:
#find indexing of substring in main string, if available it will return first position of the substring, if not it will return '-1'.
print(s)

Learning python in codinggrad

In [65]:
print(s.find("python"))

9

In [66]:
print(s.find("rad"))

26

In [67]:
print(s.find("java"))

-1

In [68]:
#index : if not available it will give Value error
print(s.index("python"))

9

In [69]:

print((s.index("java")))

ValueError: substring not found

In [70]:
try:
    n=s.index("java")
except ValueError:
    print("java not available")

java not available

In [71]:
#find all positions of substrins in string
s=input("Enter main string: ")
sub=input("Enter sub string: ")
flag=False
pos=-1
n=len(s)
while True:
    pos=s.find(sub,pos+1,n)
    if pos==-1:
        break
    print("found at position",pos)
    flag=True
if flag==False:
    print("Not found")

Enter main string: mohan das karamchand gandhi
Enter sub string: chand
found at position 15

# Task11: Replacing String with another 2 string

In [72]:
s="learning python in codingrad"
s1=s.replace('python','java').replace('codingrad','pythonlife')
print(s)
print(s1)

learning python in codingrad
learning java in pythonlife

# Task12: String Practice

In [73]:
#splitting string 
s="Learning Python In Codingrad"
l=s.split()
print(l)

['Learning', 'Python', 'In', 'Codingrad']

In [74]:
s1=" ".join(l)
print(s1)

Learning Python In Codingrad

In [75]:
print(s.upper())

LEARNING PYTHON IN CODINGRAD

In [76]:
print(s.lower())

learning python in codingrad

In [77]:
print(s.swapcase())

lEARNING pYTHON iN cODINGRAD

In [78]:
print(s.title())

Learning Python In Codingrad

In [79]:
print(s.capitalize())

Learning python in codingrad

In [80]:
print(s.startswith("Learning"))

True

In [81]:
print(s.endswith("rad"))

True

In [82]:
#type of charecter
print(s.isalnum())

False

In [83]:
print(s.isalpha())

False

In [84]:
print(s.isdigit())

False

In [85]:
print(s.istitle())

True

In [87]:
s=input("enter string: ")
if s.isalnum():
    print("IT is Alpha numaric Charecter")
    if s.isalpha():
        print("It is Alphabet")
        if s.isupper():
            print("It is Uppercase alphabet charecter")
        else:
            print("It is lowercase alphhabet Charecter")
    else:
        print("It s digit")
elif s.isspace(): 
    print("it is space Charecter")
else:
    print("It is special charecter")

enter string: M
IT is Alpha numaric Charecter
It is Alphabet
It is Uppercase alphabet charecter

In [88]:
#wap to reverse order of total string
s=input("Enter string:" )
for i in range(len(s)):
    s2=s[::-1]
print(s2)

Enter string:mohandas
sadnahom

In [89]:
#wap reverse internal content of each word
s=input("Enter stringg: ")
l=s.split()
l1=[]
i=0
n=len(l)
print(l)
while i<n:
    l2=l[i][::-1]
    l1.append(l2)
    i+=1
    
s2=" ".join(l1)
print(s2)

Enter stringg: mohandas
['mohandas']
sadnahom

In [91]:
#wap Merge charecters of 2 string into single string
s1=input("Enter 1st String: ")
s2=input("Enter 2nd String: ")
output=""
i,j=0,0
while i<len(s1) or j<len(s2):
    if i<len(s1):
        output=output+s1[i]
        i+=1
    if j<len(s2):
        output=output+s2[j]
        j+=1
print(output)

Enter 1st String: mohan
Enter 2nd String: kesav
mkoehsaanv

In [92]:
#wap sort charecters of the string and 1st aplphabets followed by numbers
s=input("enter string: ")
s1=""
s2=""
for i in s:
    if i.isalpha():
        s1=s1+i
    if i.isdigit():
        s2=s2+i
#print(sorted(s1)+sorted(s2))
l=sorted(s1)+sorted(s2)
print("".join(l))

enter string: bk35k34534kj5345k43
bjkkkk3333344445555

In [93]:
#a4b3c2
#aaaabbbcc
s=input("Enter string: ")
output=""
n=len(s)
for x in s:
    if x.isalpha():
        output=output+x
        pre=x
    if x.isdigit():
        output=output+pre*(int(x)-1)
print(output)

Enter string: h3k5k6m87n
hhhkkkkkkkkkkkmmmmmmmmmmmmmmn

# Task13&14: Tuple Practice

Tuple:Tuple exactly same as list except immutability. it is read only mode of list.

In [94]:
t=tuple()
t1=10,
print(type(t))
print(type(t1))

<class 'tuple'>
<class 'tuple'>

In [95]:
t1=10,20,30,40,50
t2=(50,60,70,80,90)
print(len(t))
print(t.count(10))

0
0

In [96]:
print(t1[2])

30

In [97]:
print(t1.index(20))
print(t1.index(40))

1
3

In [98]:
print(sorted(t))

[]

In [99]:
t3=t1+t2
print(t3)

(10, 20, 30, 40, 50, 50, 60, 70, 80, 90)

In [100]:
t4=t1*3
print(t4)

(10, 20, 30, 40, 50, 10, 20, 30, 40, 50, 10, 20, 30, 40, 50)

In [101]:
min(t4)

10

In [102]:
max(t2)

90

In [103]:
#wap print sum and average of tuple
t=eval(input("Enter Tuple: "))

sum=0
for i in t:
    sum=sum+i
print("Sum of tuple",sum,"\naverage:",sum/len(t))

Enter Tuple: 10,10,20,30,50,40,60,
Sum of tuple 220
average: 31.428571428571427

# Task16: Set practice

Set: mutable, ordered, no indexing/slicing and  no duplicates allowed in set.{}

In [104]:
s=set()
l=[10,203,40,50]
t=(70,80,90,60)
s2=set(l)
s3=set(t)
print(s2,s3)

{40, 10, 203, 50} {80, 90, 60, 70}

In [105]:
s.add(100)
s

{100}

In [106]:
s.update(range(5),l)
s

{0, 1, 2, 3, 4, 10, 40, 50, 100, 203}

In [107]:
s1=s.copy()
print(s1)

{0, 1, 2, 3, 100, 4, 40, 10, 203, 50}

In [108]:
s.pop()

0

In [109]:
s.pop()

1

In [110]:
s.pop()

2

In [111]:
s

{3, 4, 10, 40, 50, 100, 203}

In [112]:
s.remove(203)
s

{3, 4, 10, 40, 50, 100}

In [113]:
s.discard(100)
s

{3, 4, 10, 40, 50}

In [114]:
s.clear()
s

set()

In [115]:
x={10,20,30,40,50}
y={40,50,60,70,80,90,100,}
print(x.union(y))
print(x|y)

{100, 70, 40, 10, 80, 50, 20, 90, 60, 30}
{100, 70, 40, 10, 80, 50, 20, 90, 60, 30}

In [116]:
print(x.intersection(y))
print(x&y)

{40, 50}
{40, 50}

In [117]:
print(x.difference(y))
print(x-y)

{10, 20, 30}
{10, 20, 30}

In [118]:
print(y.difference(x))
print(y-x)

{100, 70, 80, 90, 60}
{100, 70, 80, 90, 60}

In [119]:
print(x.symmetric_difference(y))

print(x^y)

{100, 70, 10, 80, 20, 90, 60, 30}
{100, 70, 10, 80, 20, 90, 60, 30}

In [120]:
s=set("durga")
print(s)
print("d" in s)

{'a', 'u', 'r', 'g', 'd'}
True

In [121]:
#vowels & words
words=input("Enter string: ")
s=set(words)
found=set()
v=['a','e','i','o','u']
for i in s:
    if i in v:
        found.add(i)
        
print(found)

Enter string: mississippi
{'i'}

In [122]:
#Set comprehension
s={x*x for x in range(5)}
q={x+2 for x in range(5)}
print(s,q)

{0, 1, 4, 9, 16} {2, 3, 4, 5, 6}

# Task17: Dictonary  Practice

dictionary: it is  key and value pairs, values can accepts duplicates but keys wont accept duplicates, if you gave duplicate keys then it will override.

In [123]:
d={}
type(d)

dict

In [124]:
d['name']="mohan"
d

{'name': 'mohan'}

In [125]:
d['age']=29
d

{'name': 'mohan', 'age': 29}

In [126]:
print(len(d))

2

In [127]:
d.get('age')

29

In [128]:
print(d.get('add','chennai'))

chennai

In [129]:
d.popitem()

('age', 29)

In [130]:
d

{'name': 'mohan'}

In [131]:
d.keys()

dict_keys(['name'])

In [132]:
d.values()

dict_values(['mohan'])

In [133]:
for i,j in d.items():
    print(i,j)

name mohan

In [134]:
d1={'devudu':'ramudu'}
d1

{'devudu': 'ramudu'}

In [135]:
d.setdefault('name','mohan')
d

{'name': 'mohan'}

In [136]:
d.setdefault("address","chennai")
d

{'name': 'mohan', 'address': 'chennai'}

In [137]:
d.update(d1)
d

{'name': 'mohan', 'address': 'chennai', 'devudu': 'ramudu'}

In [138]:
#d=eval(input("Enter Dictinary: "))
d={'a':100,'b':200,'c':300}

v=d.values()

sum=0
for i,j in d.items():
    sum=sum+j
print("sum of dictionary is: ",sum)

sum of dictionary is:  600

In [140]:
#student name & marks accepting from keyboard and display it.
n=int(input("Enter no.of Students Value:"))
d=dict()
for i in range(n):
    name=input("Enter student name:")
    marks=int(input("Enter marks: "))
    d[name]=marks
print("----------------------------------------\n\tname\t\t\tmarks\n----------------------------------------")
for i,j in d.items():
    print("\t",i," "*3,"\t\t",j)
print("----------------------------------------")

Enter no.of Students Value:3
Enter student name:mohan
Enter marks: 65
Enter student name:kesav
Enter marks: 78
Enter student name:ashok
Enter marks: 75
----------------------------------------
	name			marks
----------------------------------------
	 mohan     		 65
	 kesav     		 78
	 ashok     		 75
----------------------------------------

In [142]:
# No.of occurence present in string

s=input("Enter string: ")
d={}
for x in s:
    d[x]=d.get(x,0)+1
for i,j in d.items():
    print( "letter",i,"occurence in",j,"times")

Enter string: mississippi
letter m occurence in 1 times
letter i occurence in 4 times
letter s occurence in 4 times
letter p occurence in 2 times

In [143]:
#word & vowel
word=input("Enter word:")
v={'a','e','i','o','u'}
d={}
for x in word:
    if x in v:
        d[x]=d.get(x,0)+1
for i,j in d.items():
    print("vowel",i,"present in",j,"times")

Enter word:mohandaskaramchandgandhi
vowel o present in 1 times
vowel a present in 6 times
vowel i present in 1 times

In [162]:
#Create A dictionary with name & marks and display marks by taking input from keyboard

n=int(input("Enter no.of Students:"))
d={}
for i in range(n):
    name=input("Enter student name:")
    marks=int(input("Enter marks: "))
    d[name]=marks
while True:
    name=input("Enter student name to know marks: ")
    marks=d.get(name,-1)
    if marks==-1:
        print("Student not found!!!")
    else:
        print("-----------------------------------------------------\n",name,"Marks  is : ",marks,"\n-----------------------------------------------------")
    option=input("If you want to know another student marks Yes|No:")
    if option=="no":
        break
        
print("\n-------thanks for using application---------")

Enter no.of Students:3
Enter student name:kesav
Enter marks: 86
Enter student name:mohan
Enter marks: 65
Enter student name:ashok
Enter marks: 89
Enter student name to know marks: ashok
-----------------------------------------------------
 ashok Marks  is :  89
-----------------------------------------------------
If you want to know another student marks Yes|No:yes
Enter student name to know marks: mohan
-----------------------------------------------------
 mohan Marks  is :  65
-----------------------------------------------------
If you want to know another student marks Yes|No:yes
Enter student name to know marks: kesav
-----------------------------------------------------
 kesav Marks  is :  86
-----------------------------------------------------
If you want to know another student marks Yes|No:yes
Enter student name to know marks: mohan
-----------------------------------------------------
 mohan Marks  is :  65
-----------------------------------------------------
If you want to know another student marks Yes|No:no

-------thanks for using application---------

In [145]:
#Dictionary Comprehension
d={x:x*x for x in range(5)}
e={x:x*2 for x in range(5)}
f={x:x**x for x in range(5)}
print(d)
print(e)
print(f)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}
{0: 0, 1: 2, 2: 4, 3: 6, 4: 8}
{0: 1, 1: 1, 2: 4, 3: 27, 4: 256}

# Task18: Functions

Functions:it is a collection of statements to form s buseness logic is called function. the main advantage of function is code reusability

In [146]:
def wish(name):
    return "Hi how are you."
wish("kesav")

'Hi how are you.'

In [147]:
def prime_number(n):
    if n<=1:
        result=1
    else:
        for i in range(2,n):
            if i==2 or i==3:
                print("it is prime number",i)
            elif i%2==0 or i%3==0:
                print("It is not prime",i)
            else:
                print("It is prime Number:",i)

In [148]:
prime_number(10)

it is prime number 2
it is prime number 3
It is not prime 4
It is prime Number: 5
It is not prime 6
It is prime Number: 7
It is not prime 8
It is not prime 9

In [149]:
def even_odd(n):
    if n%2==0:
        print("Number is even:")
    else:
        print("Number is odd")
        
even_odd(150)
even_odd(15)

Number is even:
Number is odd

In [150]:
def factl(n):
    result=1
    while n>1:
        result=result*n
        n=n-1
    return result
factl(5)

120

In [151]:
def fact(n):
    result=1
    while n>1:
        result=result*n
        n=n-1
    return result
fact(10)

3628800

In [152]:
fact(5)

120

In [168]:
# typs of orguments
# 1.positional orguments
def wish(name,msg):
    print("hi",name,msg)
wish('mohan','good morning')

hi mohan good morning

In [169]:
#2.keyword orguments
wish(name='mohan',msg='goog morning')
wish('mohan',msg='good morning')

hi mohan goog morning
hi mohan good morning

In [170]:
wish('mohan',msg='good morning')

hi mohan good morning

In [156]:
# 3. default orguments
def wish(msg,name='das'):
    print("hi ",msg,name)
wish('goodmorning')
wish('mohan','goodnnight')

hi  goodmorning das
hi  mohan goodnnight

In [ ]:
def cal(*n):
    sum=0
    for n1 in n:
        sum=sum+n1
    print("Sum of ",*n,"Values",sum)
    return *n,

In [ ]:
cal(10,20,30,40)

# Task18: ATM Program

In [167]:
def diposite(amount):
    credit=balance+amount
    print("\n","-"*41,"\nAfter diposite Balance in your account",credit,"\n","-"*41)
    
def withdrawl(amount):
    debit=balance-amount
    print("\n","-"*41,"\nAfter withdrawl Balance in your account",debit,"\n","-"*41)
    
def Rs():
    print("\n","-"*41,"\n\tBalance in your account",balance,"\n","-"*41)  
    
    
print("\n","*"*43,"\n","-"*10,"WELCOME TO HDFC BANK","-"*10,"\n","*"*43)

PIN=input("Enter PIN:")
if PIN=='1234':
    while True:
        #balance=2000
        print("\n1.Diposite\n2.Withdrawl\n3.Balance")
        option=int(input(" Please Choose Your your option 1 or 2 or 3:"))
        if option==1:
            amount=int(input("please Enter your Diposite amount:"))
            #balance=balance+amount
            diposite(amount)
        elif option==2:
            amount=int(input("please Enter your Withdrawl amount:"))
            if balance>=amount:
                #balance=balance+amount
                withdrawl(amount)
            else:
                print("INSUFFICIENT FUNDS")
                break
        elif option==3:
            Rs()
        else:
            print("YOU CHOOSEN WRONG OPTION,PLEASE GET WRIGHT OPTION:")
        choice=input("If you want to do another transection YES|NO:")
        if choice=="no":
            break
    
    print("-"*41)
    print("*"*13,"THAKS FOR BANKING","*"*13)
    print("*"*13,"HAVE A GRATE DAY","*"*13)
    print("-"*41)
else:
    print("WRONG PIN")

 *******************************************
 ---------- WELCOME TO HDFC BANK ----------
 *******************************************
Enter PIN:1234

1.Diposite
2.Withdrawl
3.Balance
 Please Choose Your your option 1 or 2 or 3:3

 -----------------------------------------
	Balance in your account 2000
 -----------------------------------------
If you want to do another transection YES|NO:yes

1.Diposite
2.Withdrawl
3.Balance
 Please Choose Your your option 1 or 2 or 3:1
please Enter your Diposite amount:1000

 -----------------------------------------
After diposite Balance in your account 3000
 -----------------------------------------
If you want to do another transection YES|NO:yes

1.Diposite
2.Withdrawl
3.Balance
 Please Choose Your your option 1 or 2 or 3:2
please Enter your Withdrawl amount:1000

 -----------------------------------------
After withdrawl Balance in your account 1000
 -----------------------------------------
If you want to do another transection YES|NO:no
-----------------------------------------
************* THAKS FOR BANKING *************
************* HAVE A GRATE DAY *************
-----------------------------------------

In [ ]:
#infinity loop
name=""
while name!="mohan":
    name=input("Enter name:")
    print("thanks")

# Task 19: File handling Read & write

In [171]:
#read
f=open("D:\\python\\Data Science\\working_directory\\Desktop\\filehandling.txt",'r')
openit=f.read()
print(openit)
f.close()

In [172]:
#write&read
f=open("D:\\python\\Data Science\\working_directory\\Desktop\\filehandling.txt",'w')
writeit=f.write('this is textline\nthis is mohan\nworked as medical coder\nnow i am learning py thon in codingrad\ncodingrad is verygood for learning python\nhere teaching is nice \n  ilike somuch\n**********************')
print(writeit)
f.close()
f=open("D:\\python\\Data Science\\working_directory\\Desktop\\filehandling.txt",'r')
readit=f.read()
print(readit)
f.close()

196
this is textline
this is mohan
worked as medical coder
now i am learning py thon in codingrad
codingrad is verygood for learning python
here teaching is nice
  ilike somuch
**********************

In [173]:
#append
f=open("D:\\python\\Data Science\\working_directory\\Desktop\\sample.slsx",'a')
addit=f.write("\nThis is mohan")
print(addit)
f.close()
f=open("D:\\python\\Data Science\\working_directory\\Desktop\\sample.slsx",'r')
readit=f.read()
print(readit)
f.close()

14
This is mohanThis is mohanThis is mohan
This is mohan
This is mohan
This is mohan

# Task20: Readlines,writelines

In [174]:
#readline to read single line

In [175]:
#readlines: to read muliple lines
#list1=["sunny\n","bunny\n","vinny\n","chinny"]
f=open("D:\\python\\Data Science\\working_directory\\Desktop\\filehandling.txt",'r')
readit=f.readlines()
for i in readit:
    print(i)
f.close()

this is textline

this is mohan

worked as medical coder

now i am learning py thon in codingrad

codingrad is verygood for learning python

here teaching is nice

  ilike somuch

**********************

In [176]:
#readlines
f=open("D:\\python\\Data Science\\working_directory\\Desktop\\filehandling.txt",'r')
content=f.readlines()
for i in content:
    print(i)
f.close()

this is textline

this is mohan

worked as medical coder

now i am learning py thon in codingrad

codingrad is verygood for learning python

here teaching is nice

  ilike somuch

**********************

In [177]:
#tell
f=open("D:\\python\\Data Science\\working_directory\\Desktop\\filehandling.txt",'r')
print(f.tell())
f.close()

0

In [180]:
f=open("D:\\python\\Data Science\\working_directory\\Desktop\\filehandling.txt",'r')
f.read(10)
f.close()

In [181]:
#seek to change the position of curser
f=open("D:\\python\\Data Science\\working_directory\\Desktop\\filehandling.txt",'r')
readit=(f.read())
print(readit)
print(f.tell())
print(f.seek(50))
print(f.tell())
f.close()

this is textline
this is mohan
worked as medical coder
now i am learning py thon in codingrad
codingrad is verygood for learning python
here teaching is nice
  ilike somuch
**********************
203
50
50

# Task21: OS module

In [182]:
import os
#to  know current working directory
os.getcwd()

'C:\\Users\\Dell'

In [183]:
import os 
#to create subdirectory in cwd
os.mkdir("datasciencedir")
print("Taks completed")

Taks completed

In [184]:
import os
# To create a sub directory in datasciencedir
os.mkdir("datasciencedir/python")
print("Task completed")

Task completed

In [185]:
import os
# To create multiple directories 
os.makedirs('python/numpy/pandas')
print("Task completed")

Task completed

In [186]:
import os 
# To remove a direcory
os.rmdir("datasciencedir/python")
print("Task completed")

Task completed

In [187]:
import os
os.removedirs("python/numpy/pandas")
print("Task completd")

Task completd

In [207]:
import os 
os.rename('ds',"swami")
print("Task completed")

Task completed

In [189]:
import os
print(os.listdir('.ipython'))
print("Taskcompleted")

['extensions', 'nbextensions', 'profile_default']
Taskcompleted

In [190]:
import os
for dirpath,dirnames,filenames in os.walk(".ipython"):
    print("Current directory path:",dirpath)
    print()
    print("Directories",dirnames)
    print()
    print("filenames",filenames)
    print()
    print()

Current directory path: .ipython

Directories ['extensions', 'nbextensions', 'profile_default']

filenames []


Current directory path: .ipython\extensions

Directories []

filenames []


Current directory path: .ipython\nbextensions

Directories []

filenames []


Current directory path: .ipython\profile_default

Directories ['db', 'log', 'pid', 'security', 'startup']

filenames ['history.sqlite', 'history.sqlite-journal']


Current directory path: .ipython\profile_default\db

Directories []

filenames []


Current directory path: .ipython\profile_default\log

Directories []

filenames []


Current directory path: .ipython\profile_default\pid

Directories []

filenames []


Current directory path: .ipython\profile_default\security

Directories []

filenames []


Current directory path: .ipython\profile_default\startup

Directories []

filenames ['README']

# Task22: Exceptional Handling:

Exception actually helps us in a  very good way becouse we can provide the right kind of messages to user when ever and exception occures in a code.

In [194]:
#syntax: 
del b
try:
    #code block where exception can occur
    a=b
except NameError:
    print("The user have not define the variable")
except Exception as ex:
    print(ex)

The user have not define the variable

In [195]:
try:
    a=1
    b="s"
    c=a+b
except NameError:
    print("The user have not define the variable")
except TypeError:
    print("try to make the data type sililor")
except Exception as ex:
    print(ex)

try to make the data type sililor

In [196]:
try:
    a=int(input("Enter number:"))
    b=int(input("Enter number:"))
    c=a/b
    d=a*b
    e=a+b
    print(c)
    print(d)
    print(e)
except ZeroDivisionError:
    print("Cant Devid with Zero")
except Exception as ex:
    print(ex)

Enter number:10
Enter number:0
Cant Devid with Zero

In [197]:
#else
try:
    a=int(input("Enter number:"))
    b=int(input("Enter number:"))
    c=a/b
    d=a*b
    e=a+b

except ZeroDivisionError:
    print("Cant Devid with Zero")
except Exception as ex:
    print(ex)
else:
    print(c)
    print(d)
    print(e)

Enter number:10
Enter number:20
0.5
200
30

In [198]:
#fuinally
try:
    a=int(input("Enter number:"))
    b=int(input("Enter number:"))
    
    d=a*b
    e=a+b
    c=a/b
    print(d)
    print(e)
except ZeroDivisionError:
    print("Cant Devid with Zero")
except Exception as ex:
    print(ex)
else:
    print(c)
    
finally:
    print(d)
    print(e)
    print("The Execution is Done")

Enter number:10
Enter number:20
200
30
0.5
200
30
The Execution is Done

# Task24: for with Exceptional

In [199]:
#for with exceptional handling
for i in range(1,7):
    try:
        a=6/i
    except:
        print("Error occured")
    else:
        print("Iterate")
    finally:
        print("done")

Iterate
done
Iterate
done
Iterate
done
Iterate
done
Iterate
done
Iterate
done

In [200]:
#raise
name="mohan"
try:
    number=int(name)
except ValueError:
    print('String Cannot convert in to integer')

String Cannot convert in to integer

# Task23: Date and Time Module

In [201]:
from datetime import date
my_date=date(1995,6,13)
print("date passed as argument is",my_date)

date passed as argument is 1995-06-13

In [202]:
from datetime import date
today=date.today()
print("today date is ",today)

today date is  2022-02-15

In [203]:
from datetime import date
today=date.today()
print("current year:",today.year)
print("current month:",today.month)
print("current day",today.day)

current year: 2022
current month: 2
current day 15

In [204]:
from datetime import time
t=time(18,16,17)
print("hour=",t.hour)
print("minute=",t.minute)
print("second=",t.second)
print("microsecond=",t.microsecond)

hour= 18
minute= 16
second= 17
microsecond= 0

In [2]:
time.now()

NameError: name 'time' is not defined

# Task 25: Supermarket Project

In [206]:

def wish(name,address,no):
    print("*"*70)
    print("\t","-"*10,"WELCOME TO MOHAN SUPERMARKET","-"*10)
    print("*"*70)
    print()
    print("-"*70)
    print("NAME:",name)
    print("ADDRESS:",address)
    print("MOBILE NO.:",no)
    print("-"*70)
def bill(i,ilist,qlist,plist):
    total=0
    gst=0
    for i in plist:
        total=total+i
    gst=total*18/100
    GrandTotal=total+gst
    print("-"*70)
    print("S.No"," "*6,"ITEMS",' '*10,"\t\t","QUANTITY",' '*1,"\t","PRICE",' '*5)
    print("-"*70)
    for x in range(len(ilist)):
        print(x+1," "*10,ilist[x],' '*15,"\t",qlist[x],' '*5,"\t",plist[x],' '*5)
    print("-"*70)
    print('   '*10," ","\t\tTOTAL:",total)
    print('   '*10," ","\t\tGST: +",gst)
    print("\n"*3)
    print("-"*70)
    print('   '*10," ","\tGRAND TOTAL:",GrandTotal)
    print("-"*70)
        


items={'book':130,
       'short notes':30,
       'long notes':60,
       'pen':10,
       'pencil':5,
       'whitepaper':2,
       'pad':50,
       'skechs':40}

name=input("Enter Your Name:")
address=input("Enter your Address:")
no=input("Enter Your Mobile Number")


i=1
ilist=[]
qlist=[]
plist=[]
mainlist=[]

while True:
    item=input("Enter Item Name:")
    quantity=int(input("Enter Quantity:"))
    price=items[item]*quantity
    i+=1
    ilist.append(item)
    qlist.append(quantity)
    plist.append(price)
   # mainlist.append([i,ilist,qlist,plist])
    option=input("If you wnat to add Items in your kart YES|NO:")
    if option=="no":
        break
print("\n"*5)
wish(name,address,no)        
bill(i,ilist,qlist,plist)
print("\n\n")

print("*"*70)
print("-"*28,"VISIT AGAIN","-"*28)
print("*"*70)

Enter Your Name:mohan
Enter your Address:652
Enter Your Mobile Number452
Enter Item Name:book
Enter Quantity:6
If you wnat to add Items in your kart YES|NO:yes
Enter Item Name:pen
Enter Quantity:2
If you wnat to add Items in your kart YES|NO:no






**********************************************************************
	 ---------- WELCOME TO MOHAN SUPERMARKET ----------
**********************************************************************

----------------------------------------------------------------------
NAME: mohan
ADDRESS: 652
MOBILE NO.: 452
----------------------------------------------------------------------
----------------------------------------------------------------------
S.No        ITEMS            		 QUANTITY   	 PRICE
----------------------------------------------------------------------
1            book                 	 6       	 780
2            pen                 	 2       	 20
----------------------------------------------------------------------
                                 		TOTAL: 800
                                 		GST: + 144.0




----------------------------------------------------------------------
                                 	GRAND TOTAL: 944.0
----------------------------------------------------------------------



**********************************************************************
---------------------------- VISIT AGAIN ----------------------------
**********************************************************************